@use '../utils' as *;

/*----------------------------------------*/
/*  2.13 Section Title
/*----------------------------------------*/

// banner section title
.vl-banner-content{
    .vl-section-title{
        & .subtitle{
            color: var(--vkl-text-text-white);
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(5px);
            transform: translateX(-304px);
            transition: 1200ms;
            opacity: 0;
            @media #{$xs}{
                font-size: 15px;
                line-height: 20px;
            }
        }
        & .title{
            color: var(--vkl-text-text-white);
            font-size: var(--vkl-font-size-font-s64);
            line-height: var(--vkl-specing-height70);
            font-weight: var(--vkl-weight-bold);
            transform: translateX(-500px);
            transition: 1400ms;
            opacity: 0;
            @media #{$xs}{
                font-size: var(--vkl-font-size-font-s40);
                line-height: var(--vkl-specing-height50);
            }
        }
        & p{
            color: var(--vkl-text-text-4);
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height28);
            transform: translateX(-500px);
            transition: 1500ms;
            opacity: 0;
        }
        & .vl-slider-btn{
            transform: translateX(-500px);
            transition: 1600ms;
            opacity: 1;
        }
    }
    & .hvideo-shape{
        position:relative;
        & img{
            height: 60px;
            width: 120px;
            border-radius: 100px;
        }
        & .vid-ico{
            background: #fff;
            height: 24px;
            width: 24px;
            line-height: 24px;
            display: inline-block;
            border-radius: 50px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
            & i{
                font-size: 10px;
                color: var(--vkl-text-text-1);
                text-align: center;
                margin: 0 auto;
                left: 0;
                right: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.vl-banner-1{
    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active{
        .vl-banner-content{
            & .subtitle{
                transform: translateX(0px);
                transition: 1200ms;
                opacity: 1;
            }
            & .title{
                transform: translateX(0px);
                transition: 1400ms;
                opacity: 1;
            }
            & p{
                transform: translateX(0px);
                transition: 1500ms;
                opacity: 1;
            }

            & .vl-slider-btn{
                transform: translateX(0px);
                transition: 1600ms;
                opacity: 1;
            }
        }
    }
    
}


.vl-section-title{
    position: relative;
    z-index: 1;
    & .subtitle{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
        display: inline-block;
        padding: 6px 14px 6px 8px;
        @media #{$xs}{
            font-size: 15px;
        }
        & span{
            background: var(--vkl-text-text-1);
            height: 28px;
            width: 28px;
            line-height: 28px;
            text-align: center;
            border-radius: 50px;
            display: inline-block;
            margin-right: 4px;
        }
        &-2{
            padding-left: 40px;
            padding-right: 40px;
            position: relative;
            & span{
                background: transparent;
                height: inherit;
                line-height: inherit;
            }

            & .vl-shape-bef {
                position: absolute;
                left: 0;
            }
            & .vl-shape-aft {
                position: absolute;
                right: 0;
            }
        }
    }
    & .title{
        font-size: var(--vkl-font-size-font-s44);
        line-height: var(--vkl-specing-height52);
        font-weight: var(--vkl-weight-bold);
        text-transform: capitalize;
        @media #{$xs}{
            font-size: var(--vkl-font-size-font-s30);
            line-height: var(--vkl-specing-height40);
        }
        
        @media #{$xl}{
            font-size: var(--vkl-font-size-font-s36);
            line-height: var(--vkl-specing-height50);
        } 
    }
    &-5{
       & .subtitle{
            & cite{
                & img{
                    margin-top: -4px; 
                    margin-right: 4px;  
                }
            }
        } 
    }
    &-6{
        & .subtitle{
            color: var(--vkl-text-text-12);
        }
        & .title{
            color: var(--vkl-text-text-12);
        }
    }
    &-7{
        & .subtitle{
            color: var(--vkl-text-text-19);
            padding: inherit;
        }
        & .title{
            color: var(--vkl-text-text-19);
        }
        & p{
            color: var(--vkl-text-text-9);
        }
    }
    &-9{
        & .subtitle{
            color: var(--vkl-text-text-7);
            background: var(--vkl-text-text-23);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-semibold);
            text-transform: capitalize;
            padding: 6px 14px 6px 8px;
            border-radius: 50px;
        }
        & .title{
            color: var(--vkl-text-text-7);
        }
        & p{
            color: var(--vkl-text-text-20);
        }
    }
    &-10{
        & .subtitle{
            color: var(--vkl-text-text-24);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-semibold);
            text-transform: capitalize;
        }
        & .title{
            color: var(--vkl-text-text-24);
        }
        & p{
            color: var(--vkl-text-text-20);
        }
    }
    &.hero-sec-title-7{
        & .subtitle{
            color: var(--vkl-text-text-19);
            transition: .3s;
        }
        & .title{
            font-size: var(--vkl-font-size-font-s60);
            line-height: var(--vkl-specing-height70);
            font-weight: var(--vkl-weight-bold);
            text-transform: capitalize;
            color: var(--vkl-text-text-19);
            @media #{$xs}{
                font-size: var(--vkl-font-size-font-s30);
                line-height: var(--vkl-specing-height40);
            }
            
            @media #{$xl}{
                font-size: var(--vkl-font-size-font-s36);
                line-height: var(--vkl-specing-height50);
            } 
        }
        & p{
            color: var(--vkl-text-text-20);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height26);
            transition: .3s;
        }
    }
}


// banner style home 8

.vl-hero-content-eight{
    & .vl-section-title{
        & .subtitle{}
        & .title{
            font-size: var(--vkl-font-size-font-s60);
            line-height: var(--vkl-specing-height70);
            @media #{$xs}{
                font-size: var(--vkl-font-size-font-s35);
                line-height: var(--vkl-specing-height44);
            }
        }
    }
}


// project section title 10

.vl-project-wrp-content-10{
    & .vl-section-title{
        &-10{
            & .subtitle{
                color: var(--vkl-text-text-white);
            }
            & .title{
                color: var(--vkl-text-text-white);
            }
        }
    }
}