@use '../../utils' as *;

/*----------------------------------------*/
/*  7.18 case css 
/*----------------------------------------*/

.vl-case-box-wraper-7{
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(176, 219, 88, 0.10);
    & .vl-case-thumb{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        border-radius: 16px;
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 400px;
            display: block;
            @media #{$xs}{
                height: 100%;
            }
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    & .vl-case-content-block{
        & .case-meta{
            color: var(--vkl-text-text-18);
            padding: 6px 10px;
            border-radius: 88px;
            background: rgba(255, 255, 255, 0.05);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            display: inline-block;
            @media #{$lg,$md,$xs}{
                font-size: 16px;
            }
            & span{
                & img{
                    margin-right: 4px;
                }
            }
        }
        & .title{
            font-size: var(--vkl-font-size-font-s32);
            line-height: var(--vkl-specing-height32);
            font-weight: var(--vkl-weight-bold);
            color: var(--vkl-text-text-12);
            @media #{$lg,$md,$xs}{
                font-size: 24px;
                line-height: 24px;
            }
        }   
    }
    &:hover{
        & .vl-case-thumb{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}


// case style Home 8 

 .vl-case-box-wraper-8{
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    & .vl-case-thumb{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
        & .vl-case-category{
            position: absolute;
            left: 20px;
            top: 20px;
            & a{
                font-size: var(--vkl-font-size-font-s18);
                line-height: var(--vkl-specing-height18);
                font-weight: var(--vkl-weight-semibold);
                color: var(--vkl-text-text-white);
                transition: .3s;
                background: var(--vkl-text-text-19);
                padding: 10px 14px;
                border-radius: 8px;
                display: inline-block;
                margin-right: 8px;
                margin-bottom: 10px;
                @media #{$xs}{
                    margin-bottom: 10px;
                }
                &:hover{
                    background: var(--vkl-text-text-21);
                    transition: .3s;
                    color: var(--vkl-text-text-19);
                }
            }
        }
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 370px;
            display: block;
            object-fit: cover;
            border-radius: 8px;
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    & .vl-case-content-block{
        & .case-meta{
            color: rgba(255, 255, 255, 0.90);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            display: inline-block;
            & span{
                & img{
                    margin-top: -4px;
                    margin-right: 4px;
                }
            }
        }
        & .title{
            font-size: var(--vkl-font-size-font-s28);
            line-height: var(--vkl-specing-height28);
            font-weight: var(--vkl-weight-bold);
            color: var(--vkl-text-text-white);
            transition: .3s;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            margin-bottom: 32px;
            padding-top: 19px;
            padding-bottom: 24px;
            &:hover{
                color: var(--vkl-text-text-21);
                transition: .3s;
            }
        }
    }
    & .vl-case-progress-main-flex-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .vl-case-progress-main-flex{
        display: flex;
        align-items: center;
        & .title{
            font-size: var(--vkl-font-size-font-s44);
            line-height: var(--vkl-specing-height44);
            font-weight: var(--vkl-weight-bold);
            transition: .3s;
            color: var(--vkl-text-text-white);
            margin-right: 16px;
        }
        & p{
            color: rgba(255, 255, 255, 0.90);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            transition: .3s;

        }
    }
    & .vl-progress-link{
        & span{
            border: 1px solid var(--vkl-text-text-white);
            transition: .3s;
            height: 60px;
            width: 60px;
            line-height: 60px;
            border-radius: 50px;
            display: inline-block;
            transition: .3s;
            font-size: 30px;
            text-align: center;
            transform: rotate(-45deg);
            color: var(--vkl-text-text-white);
            &:hover{
                background: var(--vkl-text-text-21);
                color: var(--vkl-text-text-19);
                transition: .3s;
                border: 1px solid var(--vkl-text-text-21);
            }
        }
    }
    &:hover{
        & .vl-case-thumb{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}

// case left thumb
.vl-case-right-image {
    position: absolute;
    left: -30px;
    top: 0;
    @media #{$lg,$md,$xs}{
        position: relative;
        left: 0;
        top: 0;
    }
}


.vl-case-right-image img {
    height: 741px;
    @media #{$lg,$md,$xs}{
        height: 100%;
    }
}