@use '../../utils' as *;

/*----------------------------------------*/
/*  7.8 Choose css
/*----------------------------------------*/

/*----------------------------------------*/
/*  choose Home 1
/*----------------------------------------*/
.vl-choose-arae-thumb{
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
    height: 636px;
    border-radius: 20px;
    & img{
        height:636px;
        transition: .3s;
        object-fit: cover;
    }
    &:hover{
        & img{
            transform: scale(1.1);
            transition: .3s;
        }
    }
}

/*----------------------------------------*/
/*  Exp area
/*----------------------------------------*/
.vl-exp-area{
    background: var(--vkl-text-text-1);
    transition: .3s;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 28px;
    border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 10px solid var(--vkl-text-text-white);
    border-right: 10px solid var(--vkl-text-text-white);
    & .title{
        font-size: var(--vkl-font-size-font-s44);
        line-height: var(--vkl-specing-height44);
        font-weight: var(--vkl-weight-bold);
    }
    & p{
        color: var(--vkl-text-text-white);
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
    }
}


/*----------------------------------------*/
/*  choose Home 2
/*----------------------------------------*/
.vl-choose-thumb img {
    height: 358px;
    object-fit: contain;
    @media #{$md,$xs}{
        height: 100%;
    }
}


/*----------------------------------------*/
/*  choose Home 3
/*----------------------------------------*/
.vl-choose-area-content3{
    padding: 60px 40px;
    @media #{$xs}{
        padding: 30px;
    }
}
.vl-choose-thumb3{
    & img{
        height: 702px;
        object-fit: cover;
        border-radius: 30px;
        @media #{$md,$xs}{
            height: 100%;
        }
    }
}

.vl-choose-box-bg{
    background: var(--vkl-text-text-white);
    right: 0;
    position: relative;
    right: 312px;
    width: 1200px;
    border-radius: 30px;
    padding: 40px;
    @media #{$xxl}{
        right: 542px;
    }
    @media #{$lg,$md,$xs}{
        width: 100%;
        right: 0;
        padding: 20px;
    }

    @media #{$xl}{
       right: 476px;
       width: 1053px;
    }
    & .vl-choose-item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        @media #{$md,$xs}{
            display: block;
        }
        & .vl-choose-single-item{
            & .title{
                font-size: var(--vkl-font-size-font-s24);
                line-height: var(--vkl-specing-height24);
                font-weight: var(--vkl-weight-bold);
                transition: .3s;
                @media #{$xl}{
                    font-size: var(--vkl-font-size-font-s20);
                }
                &:hover{
                    color: var(--vkl-text-text-1);
                    transition: .3s;
                }
            }
        }
    }
}

.vl-choose-single-item{
    @media #{$xs}{
        margin-bottom: 20px;
    }
}

/*----------------------------------------*/
/*  choose Home 4
/*----------------------------------------*/
.vl-choose-us-checkmark{
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        @media #{$xs}{
            grid-template-columns: 1fr;
        }
        li{
            background: var(--vkl-bg-bg-2);
            display: inline-block;
            padding: 16px;
            padding-right: 26px;
            border-radius: 8px;
            font-size: var(--vkl-font-size-font-s16);
            line-height: var(--vkl-specing-height16);
            font-weight: var(--vkl-weight-semibold);
            @media #{$xl}{
                font-size: 13px;
            }
            & span{
                & i{
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 50px;
                    color: var(--vkl-text-text-white);
                    background: var(--vkl-text-text-1);
                    font-size: 12px;
                    display: inline-block;
                    margin-right: 4px;
                }
            }
        }
    }
    
}

.vl-choose-thumb2{
    position: absolute;
    right: 0;
    top: 100px;
    & img{
        height: 540px;
    }
    @media #{$md,$xs}{
        position: relative;
        top: 0;
    }
}

.vl-choose-single-item {
    @media #{$md,$xs}{
        margin-bottom: 20px;
    }
}


/*----------------------------------------*/
/*  choose  inner page
/*----------------------------------------*/


.vl-choose-nav-text{
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #DEDEDE;
    .nav-pills .nav-link {
        color: var(--vkl-text-text-2);
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
        border: 1px solid var(--vkl-text-text-2);
        border-radius: 30px;
        margin-right: 16px;
        text-transform: uppercase;
        padding: 16px 24px;
        line-height: 14px;
        @media #{$xs}{
            margin-bottom: 20px;
        }
        &.active{
            color: var(--vkl-text-text-white);
            background: var(--vkl-text-text-1);
            border: 1px solid var(--vkl-text-text-1);
        }
    }
}


.vl-choose-thumb-iner{
    & img{
        height: 293px;
        object-fit: cover;
        border-radius: 20px;
        @media #{$lg,$md,$xs}{
            height: 100%;
            margin-bottom: 20px;
        }
    }
    
}

.vl-choose-thumb-iner {
    @media #{$md,$xs}{
        margin-bottom: 30px;
    }
}


.vl-choose-content-iner{
    &-list{
        & ul{
            & li{
                color: var(--vkl-text-text-2);
                font-size: var(--vkl-font-size-font-s18);
                line-height: var(--vkl-specing-height18);
                font-weight: var(--vkl-weight-semibold);
                margin-bottom: 18px;
                &:last-child{
                    margin-bottom: 0;
                }
                & span{
                    & i{
                        height: 20px;
                        width: 20px;
                        line-height: 20px;
                        text-align: center;
                        border-radius: 50px;
                        color: var(--vkl-text-text-white);
                        background: var(--vkl-text-text-1);
                        font-size: 12px;
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

.vl-choose-larg-thumb{
    position: absolute;
    right: 0;
    bottom: -100px;
    @media #{$lg}{
        bottom: -100px;
        position: relative;
        text-align: center;
    }
    @media #{$md}{
        bottom: -53px;
        position: relative;
    }

    @media #{$xs}{
        bottom: -53px;
        position: relative;
    }
    
}


.vl-choose-thumb-wrap-7{
    & img{
        border-radius: 16px;
        height: 660px;
        object-fit: cover;
        @media #{$xs}{
            height:100%;
        }
    }
}

.vl-choose-grid-box-wrap{
    background: var(--vkl-text-text-white);
    padding: 40px;
    border-radius: 16px;
    display: grid;
    gap: 25px;
    grid-template-columns:repeat(2, 1fr);
    width: 760px;
    position: relative;
    @media #{$md}{
        width: 100%;
    }
    @media #{$xs}{
        width:100%;
        grid-template-columns:repeat(1, 1fr);
    }
}

.vl-choose-single-box-7{
    & .title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height28);
        font-weight: var(--vkl-weight-bold);
        color: var(--vkl-text-text-19);
        transition: .3s;
    }
    & p{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
        font-weight: var(--vkl-weight-medium);
        color: var(--vkl-text-text-20);
        transition: .3s;
    }
}

// choose thumb  style 9

.vl-choose-thumb-9{
    & img{
        height: 480px;
        border-radius: 16px;
        object-fit: cover;
    }
}

.vl-choose-video-thumb-2{
    margin-right: 200px;
    margin-left: -200px;
    margin-top: 50px;
    @media #{$lg,$md,$xs}{
        margin-right: 0;
        margin-left: 0;
    }
    & img{
        height: 258px;
        border-radius: 16px;
        object-fit: cover;
    }
}


.vl__counter{
    &-flex{
        display: flex;
        margin-top: 55px;
    }
    &-nine{
        margin-right: 30px;
        & .title{
            font-size: var(--vkl-font-size-font-s44);
            line-height: var(--vkl-specing-height44);
            font-weight: var(--vkl-weight-bold);
            transition: .3s;
            color: var(--vkl-text-text-7);
        }
        & p{
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            font-weight: var(--vkl-weight-medium);
            transition: .3s;
            color: var(--vkl-text-text-7);
            padding-top: 18px;
        }
    }
}


// choose thumb 10 

.vl-choose-thumb10{
    &-thumb1{
        & img{
            height: 480px;
            border-radius: 8px;
            object-fit: cover;
        }
    }
    &-thumb2{
        & img{
            margin-top: -216px;
            height: 330px;
            width: 400px !important;
            border-radius: 8px;
            object-fit: cover;
            margin-left: -62px;
            position: relative;
        }
    }
}